/* EQUIPMENT & SAFETY
-------------------------------------------------- */

.equipment-table {
	width: 330px;

	@media (min-width: 992px) {
		width: 440px;
	}

	tbody {
		tr {
			td {
				width: 165px;
				height: 165px;

				@media (min-width: 992px) {
					width: 220px;
					height: 220px;
				}
			}
		}
	}
}

.equipment-table-image {
	max-width: 100%;
	height: auto;
}