/* FOOTER
-------------------------------------------------- */

.footer-container {
	background: #d8d8d8;
	color: #666;

	.footer-p {
		margin-top: 20px;
	}

	.footer-logo {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.social-links-container {
		margin-top: 20px;

		.social-link {
			margin-right: 20px;
		}
	}
}