/* FOOTER
-------------------------------------------------- */

.footer-container {
	background: #d8d8d8;
	color: #666;

	.footer-p {
		margin-top: 20px;

		@media (min-width: 768px) {
			margin-top: 60px;
		}
	}

	.footer-logo {
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 25px;
	}

	.social-links-container {
		margin-top: 20px;
		margin-bottom: 20px;

		@media (min-width: 768px) {
			margin-top: 50px;
		}

		.social-link {
			margin-right: 20px;
		}
	}
}