/* TYPOGRAPHY
-------------------------------------------------- */

body {
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-weight: 100;
	letter-spacing: 1px;
}

p {
	font-size: 16px;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #666;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
	margin-top: 0;
	margin-bottom: 0;
}

h2 {
	font-size: 20px;
	font-weight: 300;

	@media (min-width: 768px) {
		font-size: 30px;
	}
}

strong {
	font-weight: 500;
}

/* GLOBAL COMPONENTS
-------------------------------------------------- */

.btn-primary {
	background: #cf6f28;
	border-color: #914211;
}

.btn-primary:hover {
	background: #cf5d08;
	border-color: #914211;
}

/* COLORS
-------------------------------------------------- */

.dark {
	color: #333;
}

.dark-grey-on-light-grey {
	background: #f1f1f1;
	color: #666;
}

.white-on-grey {
	background: #666;
	color: #fff;
}

.grey-on-white {
	background: #fff;
	color: #666;
}

.white-on-tan {
    background: #867050;
}

.white-on-light-tan {
    background: #c3b8a8;
}

/* ALIGNMENT
-------------------------------------------------- */

.center-mobile {
	display: block;
	margin: auto;

	@media (min-width: 768px) {
		margin: 0;
	}
}

.center {
	text-align: center;
}

.row-eq-height {
	@media (min-width: 768px) {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	}
}

/* CONTENT CONTAINERS
-------------------------------------------------- */

.hero-image {
	height: 300px;

	@media (min-width: 768px) and (max-width: 992px) {
		height: 400px;
	}

	@media (min-width: 992px) {
		height: 550px;
	}
}

.text-container {
	margin: 40px 0;
}

.list-container {
	float: left;
	margin: 20px 0;
}

.table-container {
	margin: 40px 0;

	@media (min-width: 992px) {
		margin-left: 40px;
	}
}

.body-p {
	margin-top: 20px;
}

.gutter-p {
	margin-right: 0;
	margin-bottom: 40px;

	@media (min-width: 768px) {
		margin-right: 20px;
		margin-bottom: 70px;
	}
}

/* LISTS
-------------------------------------------------- */

.star-bullet {
    list-style-type: none;
    padding: 0px;
    margin: 0px;

	li {
	    padding-left: 30px;
	    margin-bottom: 20px;
	    background-image: url(../images/star-bullet.png);
	    background-repeat: no-repeat;
	    background-position: 0px 3px;
	}
}

/* TABLES
-------------------------------------------------- */

.table {
	tbody {
		tr {
			td {
				vertical-align: middle;
			}
		}
	}
}
.table-no-border {
	tbody {
		tr {
			td {
				border: 0;
			}
		}
	}
}