/* TYPOGRAPHY
-------------------------------------------------- */

body {
	color: #fff;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 1px;
}

p {
	font-size: 16px;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #666;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
	margin-top: 0;
	margin-bottom: 0;
}

h2 {
	font-size: 20px;

	@media (min-width: 768px) {
		font-size: 30px;
	}
}

/* GLOBAL COMPONENTS
-------------------------------------------------- */

.btn-primary {
	background: #cf6f28;
	border-color: #914211;
}

.btn-primary:hover {
	background: #cf5d08;
	border-color: #914211;
}

/* COLORS
-------------------------------------------------- */

.dark {
	color: #333;
}

.dark-grey-on-light-grey {
	background: #f1f1f1;
	color: #666;
}

.white-on-grey {
	background: #666;
	color: #fff;
}

.grey-on-white {
	background: #fff;
	color: #666;
}

.white-on-tan {
    background: #867050;
}

.white-on-light-tan {
    background: #c3b8a8;
}

/* CONTENT CONTAINERS
-------------------------------------------------- */

.hero-image {
	height: 300px;

	@media (min-width: 768px) and (max-width: 992px) {
		height: 400px;
	}

	@media (min-width: 992px) {
		height: 550px;
	}
}

.text-container {
	margin: 40px 0;
}

.list-container {
	float: left;
	margin: 20px 0;
}

.body-p {
	margin-top: 20px;
}

.gutter-p {
	margin-right: 0;
	margin-bottom: 40px;

	@media (min-width: 768px) {
		margin-right: 20px;
		margin-bottom: 70px;
	}
}

.center-mobile {
	display: block;
	margin: auto;

	@media (min-width: 768px) {
		margin: 0;
	}
}

.column-list {
	float: left;
	width: 100%;

	li {
		float: left;
		width: 50%;
	}
}