body {
	color: #fff;
	font-face: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

p {
	font-size: 16px;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #666;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0;
}

.dark {
	color: #333;
}

.btn-primary {
	background: #cf6f28;
	border-color: #914211;
}

.btn-primary:hover {
	background: #cf5d08;
	border-color: #914211;
}

.hero-image {
	height: 300px;

	@media (min-width: 768px) and (max-width: 992px) {
		height: 400px;
	}

	@media (min-width: 992px) {
		height: 550px;
	}
}

.hero-text-container {
	background: #f1f1f1;
	color: #666;
}

.text-container {
	margin: 40px 0;
}

.body-p {
	margin-top: 20px;
}

.gutter-p {
	margin-right: 20px;
	margin-bottom: 70px;
}