/* HEADER
-------------------------------------------------- */

.header-container {
	position: relative;

	box-shadow: 0 2px 5px rgba(0,0,0,0.5);
 	-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.header-links {
	float: right;
	margin-top: 20px;

	.header-link {
		margin-left: 30px;
	}
}

.main-logo {
	float: left;
	margin-top: 20px;
	margin-bottom: -75px;
	max-width: 80%;
	height: auto;

	@media (min-width: 768px) {
		margin-top: 10px;
	}
}

/* NAVBAR
-------------------------------------------------- */

.navbar-default {
	float: right;
	clear: right;
	margin-top: 20px;
	margin-bottom: 10px;
	width: 100%;

	color: #666;
	background: none;
	border: none;

	@media (min-width: 768px) {
		width: initial;
		margin-top: 40px;
		margin-bottom: 0;
	}

	.navbar-toggle {
		margin-bottom: 20px;
	}

	.navbar-toggle:hover,
	.navbar-toggle:focus {
		background: #fff;
	}

	.navbar-collapse {
		padding: 0;

		.nav {
			li {
				a {
					padding: 0;
					margin-left: 80px;

					@media (min-width: 768px) {
						margin-left: 40px;
					}
				}

				a:hover,
				a:focus {
					color: #666;
					text-decoration: underline;
				}
			}
		}
	}
}