/* HEADER
-------------------------------------------------- */

.header-container {
	position: relative;
	z-index: 200;

	box-shadow: 0 2px 5px rgba(0,0,0,0.5);
 	-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.5);

  	@media (min-width: 768px) {
		height: 100px;
	}

  	@media (min-width: 992px) {
		height: 142px;
  	}

  	.header-inner-container {
  		position: relative;


		.main-logo {
			float: left;
			position: absolute;
			top: 10px;
			left: 15px;
			width: 250px;
			height: auto;

			@media (min-width: 768px) {
				top: 19px;
				width: 280px;
			}

			@media (min-width: 992px) {
				top: 10px;
				width: 466px;
			}
		}

		.header-links {
			float: right;
			position: absolute;
			top: 10px;
			right: 15px;
			font-size: 13px;

			@media (min-width: 992px) {
				top: 20px;
			}

			.header-link {
				margin-left: 20px;

				@media (min-width: 1200px) {
					margin-left: 30px;
				}
			}

			.contact-link {
				/* Temporarily hide contact link */
				display: none;
			}
		}
  	}
}

/* NAVBAR
-------------------------------------------------- */

.navbar-default {
	float: right;
	text-align: right;
	position: relative;
	margin-top: 37px;
	margin-bottom: 0;
	min-height: 20px;

	color: #666;
	font-size: 13px;
	font-weight: 500;
	background: none;
	border: none;

	@media (min-width: 768px) {
		position: absolute;
		margin-top: 0;
		top: 69px;
		right: 15px;
	}

	@media (min-width: 992px) {
		top: 107px;
		font-size: 14px;
	}

	.navbar-toggle {
		margin: 0;
		padding: 10px 0 20px 0;
		border: none;
	}

	.navbar-toggle:hover,
	.navbar-toggle:focus {
		background: #fff;
	}

	.navbar-collapse {
		padding: 0;
		border: none;

		.navbar-nav {
			margin: 0 0 15px 0;
		}

		.nav {
			li {
				a {
					font-weight: 600;
					padding: 0;
					margin-top: 5px;

					@media (min-width: 768px) and (max-width: 1200px) {
						margin-left: 20px;
					}

					@media (min-width: 1200px) {
						margin-left: 40px;
					}
				}

				a:hover,
				a:focus {
					color: #a79561;
					text-decoration: none;
				}

				.active {
					color: #a79561;
					cursor: default;
				}
			}
		}
	}
}