/* HEADER
-------------------------------------------------- */

.header-container {
	position: relative;

	box-shadow: 0 2px 5px rgba(0,0,0,0.5);
 	-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.main-logo {
	float: left;
	width: 250px;
	height: auto;
	margin-top: 10px;
	margin-bottom: -115px;

	@media (min-width: 768px) {
		width: 290px;
		margin-top: 15px;
		margin-bottom: -75px;
	}

	@media (min-width: 992px) {
		width: 466px;
		margin-top: 10px;
	}
}

.header-links {
	float: right;
	margin-top: 10px;

	@media (min-width: 992px) {
		margin-top: 20px;
	}

	.header-link {
		margin-left: 20px;

		@media (min-width: 1200px) {
			margin-left: 30px;
		}
	}
}

/* NAVBAR
-------------------------------------------------- */

.navbar-nav {
	margin: 0 0 15px 0;

	@media (min-width: 768px) {
		margin: 0 0 7px 0;
	}
}

.navbar-default {
	float: right;
	clear: right;
	text-align: right;
	margin-top: 31px;
	margin-bottom: 0;
	min-height: 20px;
	width: 100%;

	color: #666;
	font-size: 13px;
	font-weight: 500;
	background: none;
	border: none;

	@media (min-width: 768px) {
		width: initial;
		margin-top: 27px;
	}

	@media (min-width: 992px) {
		font-size: 14px;
		margin-top: 56px;
	}

	.navbar-toggle {
		margin: 0;
		padding: 10px 0 20px 0;
		border: none;
	}

	.navbar-toggle:hover,
	.navbar-toggle:focus {
		background: #fff;
	}

	.navbar-collapse {
		padding: 0;
		border: none;

		.nav {
			li {
				a {
					padding: 0;
					margin-top: 5px;

					@media (min-width: 768px) and (max-width: 1200px) {
						margin-left: 20px;
					}

					@media (min-width: 1200px) {
						margin-left: 40px;
					}
				}

				a:hover,
				a:focus {
					color: #a79561;
					text-decoration: none;
				}

				.active {
					color: #a79561;
					cursor: default;
				}
			}
		}
	}
}