// bower:scss
@import 'video.scss';
// endbower

/* HOME
-------------------------------------------------- */

.hero-image-home {
    background: #fff url('../images/home-hero.jpg') no-repeat left bottom;
    background-size: cover;
}

.home-content-container-1 {
	background: #666;
}

.home-content-container-2 {
	background: #867050;
}

.home-content-container-3 {
	background: #c3b8a8;
}

.home-content-container-4 {
	background: #fff;
	color: #666;
}