// bower:scss
@import 'video.scss';
// endbower

/* HOME
-------------------------------------------------- */

.hero-image-home {
    background: #fff url('../images/home/home-hero.jpg') no-repeat left bottom;
    background-size: cover;
}

.home-content-container-1 {
    background: #666 url('../images/home/grey-map-bg.jpg') no-repeat right top;
    background-size: cover;

    @media (min-width: 992px) {
    	background-size: contain;
    }
}

.home-content-container-2 {
    background: #867050;

    .bg-image {
		min-height: 285px;
	    background: #867050 url('../images/home/tan-crane-bg.jpg') no-repeat left bottom;
	    background-size: contain;
    }
}

.home-content-container-3 {
    background: #c3b8a8;

    .bg-image {
    	min-height: 270px;
	    background: #c3b8a8 url('../images/home/light-tan-pipes-bg.jpg') no-repeat center bottom;
    }
}

.home-content-container-4 {
	background: #fff;
	color: #666;
}