/* OPERATIONS
-------------------------------------------------- */

.hero-image-operations {
    background: #fff url('../images/operations/operations-hero.jpg') no-repeat center bottom;
    background-size: cover;
}

.operations-content-container-1 {
    .bg-image {
    	min-height: 260px;
	    background: #666 url('../images/operations/grey-ship-bg.jpg') no-repeat center center;
    }
}